<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Spring Boot - Upload Status</h1>
	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>
	<form action="/users" method = "get">
	<input type="submit" value = "Show users">
	</form>
	<form action="/download" method = "get">
	<input type="submit" value = "Download user list">
	</form>
</body>
</html>